section.section.introduction
    .section__inner.pt-200.pb-200.m-auto.before-effect.scroll__animation(
        data-os-animation="slide-in-right"
        data-os-animation-delay="0"
        data-os-animation-Frequency="once"
    )
        .txt
            h3.txt__title
                span.en.color-white.d-block.opacity-0.scroll__animation(
                    data-os-animation="slide-in-bottom"
                    data-os-animation-delay=".4s"
                    data-os-animation-Frequency="once"
                ) 01. 專業貸款唯一指定品牌

                span.tw.color-white.d-block.opacity-0.scroll__animation(
                    data-os-animation="slide-in-bottom"
                    data-os-animation-delay=".4s"
                    data-os-animation-Frequency="once"
                ) 關於熊蓋厚貸

            p.desc.color-white.opacity-0.scroll__animation(
                data-os-animation="slide-in-bottom"
                data-os-animation-delay=".8s"
                data-os-animation-Frequency="once"
            ) 三大融資 (中租/和潤/裕融) 特約經銷商，有多年專業貸款申辦經驗，經手上萬件機車貸款、汽車貸款及房屋二胎案件，致力協助客戶爭取最好的方案，客製化服務，核准率最高，全程最放心！

            .button__wrap.opacity-0.scroll__animation(
                data-os-animation="slide-in-bottom"
                data-os-animation-delay="1.2s"
                data-os-animation-Frequency="once"
            )
                a.button(href='about.html' data-color="black")
                    span.text Read more
                    span.arrow

    .img_dec(data-place="bottom").scroll__animation(
        data-os-animation="slide-in-right"
        data-os-animation-delay="0"
        data-os-animation-Frequency="once"
    )
        include ../components/organisms/_jarallaxImage
        +jarallaxImage(
            "https://images.pexels.com/photos/6266641/pexels-photo-6266641.jpeg",
            "introduction",
        )
