include ../components/organisms/_accordion
include ../components/organisms/_jarallaxImage


section.section.faq.mt-200
    .section__inner.pt-200.pb-200.m-auto.before-effect.scroll__animation(
        data-os-animation="slide-in-right"
        data-os-animation-delay="0"
        data-os-animation-Frequency="once"
    )
        .txt
            h3.txt__title
                span.en.color-white.d-block.opacity-0.scroll__animation(
                    data-os-animation="slide-in-bottom"
                    data-os-animation-delay=".4s"
                    data-os-animation-Frequency="once"
                ) 07. 相關疑惑、注意事項

                span.tw.color-white.d-block.opacity-0.scroll__animation(
                    data-os-animation="slide-in-bottom"
                    data-os-animation-delay=".4s"
                    data-os-animation-Frequency="once"
                ) 貸款常見問題

            //p.desc.color-white.opacity-0.scroll__animation(
            //    data-os-animation="slide-in-bottom"
            //    data-os-animation-delay=".8s"
            //    data-os-animation-Frequency="once"
            //)
            //    | 近期有許多詐騙利用貸款名義，告知受害者只需要銀行帳戶、雙證件而且不用保人、無須照會就可以借錢，當受害者不疑有他，跟著指令操作後，才發現已被詐騙，或是要求客戶簽下了關於服務酬金、諮詢費用的相關合約，申貸下來的資金活生生被剝削了一大筆，卻礙於合約的內容，生怕違約，只好硬著頭皮申貸。

            // 首頁FAQ標題大概16個字
            .accordion
                +accordionItem(
                    '0.8s',
                    '熊蓋厚貸是否合法，撥款來源為何？',
                    '【熊蓋厚貸】與新鑫、和潤、中租三大上市融資公司合作，並且由專業律師背書，絕對合法安全。'
                )

                +accordionItem(
                    '1.2s',
                    '熊蓋厚貸是否合法，撥款來源為何？',
                    '【熊蓋厚貸】與新鑫、和潤、中租三大上市融資公司合作，並且由專業律師背書，絕對合法安全。'
                )

                +accordionItem(
                    '1.6s',
                    '熊蓋厚貸是否合法，撥款來源為何？',
                    '【熊蓋厚貸】與新鑫、和潤、中租三大上市融資公司合作，並且由專業律師背書，絕對合法安全。'
                )

            .button__wrap.opacity-0.scroll__animation(
                data-os-animation="slide-in-bottom"
                data-os-animation-delay="2s"
                data-os-animation-Frequency="once"
            )
                a.button(href='about.html' data-color="black")
                    span.text Read more
                    span.arrow

    .img_dec(data-place="top").scroll__animation(
        data-os-animation="slide-in-right"
        data-os-animation-delay="0"
        data-os-animation-Frequency="once"
    )
        +jarallaxImage(
            "../assets/images/faq.jpg",
            "faq"
        )
