include ../components/organisms/_jarallaxBackground

section.section.lawyer.background
    +jarallaxBackground("https://bearloan.com.tw/resources/views/home/house_website/assets/images/lawer-bg.png")

    .section__inner.d-flex.pt-100.pb-100.m-auto.absolute-center
        .txt
            h3.txt__title
                span.en.color-white.d-block.opacity-0.scroll__animation(
                    data-os-animation="slide-in-bottom"
                    data-os-animation-delay="0s"
                    data-os-animation-Frequency="once"
                ) 05. 上市公司律師認證
                span.tw.color-white.d-block.opacity-0.scroll__animation(
                    data-os-animation="slide-in-bottom"
                    data-os-animation-delay=".4s"
                    data-os-animation-Frequency="once"
                ) 專業律師認證

        .txt
            p.color-white.desc.font-weight-300.opacity-0.scroll__animation(
                data-os-animation="slide-in-bottom"
                data-os-animation-delay=".4s"
                data-os-animation-Frequency="once"
            )
                | 深世臺時人力信始小主毒家中？
                | 令神及在重。電不遊眾，的安館回明理子致義。
                | 銷再小就不片後……選基金異比一所。兒春管中做相火是出，難果車主義南夜，
                | 點賽感性早們有物電經月本麼教年其意制查對古國利之力親。片何走高萬施角體求，
                | 作亞加營聞，果那失會不最地的確也政。


            .button_wrap.d-flex.justify-end.opacity-0.scroll__animation(
                data-os-animation="slide-in-bottom"
                data-os-animation-delay=".8s"
                data-os-animation-Frequency="once"
            )
                a.button(href='about.html' data-color="white")
                    span.text Read more
                    span.arrow