include ../components/organisms/_accordion

.team__container
    .team__container__inner.after-block.scroll__animation(
        data-os-animation="block-in"
        data-os-animation-delay="0s"
        data-os-animation-Frequency="once"
    )
        .team__title
            .txt
                h3.txt__title
                    span.en.d-block.opacity-0.scroll__animation(
                        data-os-animation="slide-in-bottom"
                        data-os-animation-delay="0s"
                        data-os-animation-Frequency="once"
                    ) Our Team

                    span.tw.d-block.opacity-0.scroll__animation(
                        data-os-animation="slide-in-bottom"
                        data-os-animation-delay=".4s"
                        data-os-animation-Frequency="once"
                    ) 我們團隊

        .team__introdu


