section.section.service.legalization.mt-200.pb-200
    .section__inner.d-flex.justify-between.m-auto
        .txt
            h3.txt__title
                span.en.color-main.d-block.opacity-0.scroll__animation(
                    data-os-animation="slide-in-bottom"
                    data-os-animation-delay=".4s"
                    data-os-animation-Frequency="once"
                ) 06. 線上加密、商標認證

                span.tw.color-black.d-block.opacity-0.scroll__animation(
                    data-os-animation="slide-in-bottom"
                    data-os-animation-delay=".8s"
                    data-os-animation-Frequency="once"
                ) 熊蓋厚貸最安心

            p.desc.color-black.opacity-0.scroll__animation(
                data-os-animation="slide-in-bottom"
                data-os-animation-delay="1.2s"
                data-os-animation-Frequency="once"
            )
                | 安心有保障，註冊標商番定號
                br
                | 022066086、02206630、02205566、02206844。

            .button__wrap.opacity-0.scroll__animation(
                data-os-animation="slide-in-bottom"
                data-os-animation-delay="1.2s"
                data-os-animation-Frequency="once"
            )
                a.button(href='contact.html' data-color="main")
                    span.text Read more
                    span.arrow

        .img_group
            .img_background.scroll__animation(
                data-os-animation="scale-in-right"
                data-os-animation-delay="0"
                data-os-animation-Frequency="once"
            )

            // w350 * h480
            .img.img__service.img__service--top.opacity-0.scroll__animation(
                data-os-animation="slide-in-bottom"
                data-os-animation-delay=".8s"
                data-os-animation-Frequency="once"
            )
                .img__inner(style="background-image: url('./assets/images/service02s.jpg');")

            // w350 * h480
            .img.img__service.img__service--bottom.opacity-0.scroll__animation(
                data-os-animation="slide-in-bottom"
                data-os-animation-delay="1.2s"
                data-os-animation-Frequency="once"
            )
                .img__inner(style="background-image: url('./assets/images/service04s.jpg');")

