include ../components/organisms/_jarallaxBackground

section.section.lawyer.background
    +jarallaxBackground("https://bearloan.com.tw/resources/views/home/house_website/assets/images/lawer-bg.png")

    .section__inner.d-flex.pt-100.pb-100.m-auto.absolute-center
        .txt
            h3.txt__title
                span.en.color-white.d-block.opacity-0.scroll__animation(
                    data-os-animation="slide-in-bottom"
                    data-os-animation-delay="0s"
                    data-os-animation-Frequency="once"
                ) 05. 上市公司律師認證
                span.tw.color-white.d-block.opacity-0.scroll__animation(
                    data-os-animation="slide-in-bottom"
                    data-os-animation-delay=".4s"
                    data-os-animation-Frequency="once"
                ) 專業律師認證

        .txt
            p.color-white.desc.font-weight-300.opacity-0.scroll__animation(
                data-os-animation="slide-in-bottom"
                data-os-animation-delay=".4s"
                data-os-animation-Frequency="once"
            )
                | 敝司聘任聯合法律事務所『陳榮輝律師』擔任常年法律顧問律師，不僅讓客戶了解，我們一切貸款資訊皆依法可循，更以最高標準去保障客戶權益，熊蓋厚貸致力於保護消費者的交易安全，敬請放心！

            .button_wrap.d-flex.justify-end.opacity-0.scroll__animation(
                data-os-animation="slide-in-bottom"
                data-os-animation-delay=".8s"
                data-os-animation-Frequency="once"
            )
                a.button(href='contact.html' data-color="white")
                    span.text Read more
                    span.arrow