section.section.advantage
    .section__inner.d-flex.pt-100.pb-100.m-auto.before-block
        .txt
            h3.txt__title
                span.en.color-main.d-block.opacity-0.scroll__animation(
                    data-os-animation="slide-in-bottom"
                    data-os-animation-delay="0s"
                    data-os-animation-Frequency="once"
                ) 02. 為什麼選擇我們
                span.tw.d-block.opacity-0.scroll__animation(
                    data-os-animation="slide-in-bottom"
                    data-os-animation-delay=".4s"
                    data-os-animation-Frequency="once"
                ) 熊蓋厚貸優勢

        .txt
            p.desc.font-weight-300.opacity-0.scroll__animation(
                data-os-animation="slide-in-bottom"
                data-os-animation-delay=".4s"
                data-os-animation-Frequency="once"
            )
                | 現在有玲瑯滿目的貸款管道，
                | 不管是代辦、代書、或非融資公司正式授權經銷商，
                | 都會跟您收取委託費或是高額手續費才正式辦理。
                | 熊蓋厚貸為三大融資公司正式授權經銷商，
                | 貸款規則皆遵照法律規範，
                | 政府怎麼規定我們就怎麼走，
                | 不論是機車貸款、汽車貸款、二順位貸款，
                | 熊蓋厚貸不僅會和您完整說明相關資訊，
                | 也會替您釐清為何銀行端貸款無法核准的原因，
                | 並特聘專業律師為敝司法律顧問，
                | 不僅合法安心，
                | 更讓您順心。

            .button_wrap.d-flex.justify-end.opacity-0.scroll__animation(
                data-os-animation="slide-in-bottom"
                data-os-animation-delay=".8s"
                data-os-animation-Frequency="once"
            )
                a.button(href='contact.html')
                    span.text Read more
                    span.arrow