section.section.introduction.introduction--warn.mt-200
    .section__inner.pt-200.pb-200.m-auto.before-effect.scroll__animation(
        data-os-animation="slide-in-right"
        data-os-animation-delay="0"
        data-os-animation-Frequency="once"
    )
        .txt
            h3.txt__title
                span.en.color-white.d-block.opacity-0.scroll__animation(
                    data-os-animation="slide-in-bottom"
                    data-os-animation-delay=".4s"
                    data-os-animation-Frequency="once"
                ) 04. 嚴防詐騙、慎選貸款

                span.tw.color-white.d-block.opacity-0.scroll__animation(
                    data-os-animation="slide-in-bottom"
                    data-os-animation-delay=".4s"
                    data-os-animation-Frequency="once"
                ) 謹慎選擇貸款

            p.desc.color-white.opacity-0.scroll__animation(
                data-os-animation="slide-in-bottom"
                data-os-animation-delay=".8s"
                data-os-animation-Frequency="once"
            )
                | 近期有許多詐騙利用貸款名義，
                | 告知受害者只需要銀行帳戶、雙證件而且不用保人、無須照會就可以借錢，
                | 當受害者不疑有他，
                | 跟著指令操作後，
                | 才發現已被詐騙，
                | 或是要求客戶簽下了關於服務酬金、諮詢費用的相關合約，
                | 申貸下來的資金活生生被剝削了一大筆，
                | 卻礙於合約的內容，
                | 只好硬著頭皮申貸，
                | 熊蓋厚貸提醒您，
                | 貸款時如有任何疑慮，
                | 請盡量向熊蓋後貸專員諮詢，
                | 熊蓋厚貸做您最安心的後盾。

            .button__wrap.opacity-0.scroll__animation(
                data-os-animation="slide-in-bottom"
                data-os-animation-delay="1.2s"
                data-os-animation-Frequency="once"
            )
                a.button(href='contact.html' data-color="black")
                    span.text Read more
                    span.arrow

    .img_dec(data-place="top").scroll__animation(
        data-os-animation="slide-in-right"
        data-os-animation-delay="0"
        data-os-animation-Frequency="once"
    )
        include ../components/organisms/_jarallaxImage
        +jarallaxImage(
            "https://images.pexels.com/photos/6266312/pexels-photo-6266312.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
            "warn",
        )
