include ../components/organisms/_jarallaxBackground

.article__container.article__detail__container
    //+jarallaxBackground('../assets/images/article.jpg')

    .article__container__inner.after-block.scroll__animation(
        data-os-animation="block-in"
        data-os-animation-delay="0s"
        data-os-animation-Frequency="once"
    )

        // 文章類別
        .article__category.scroll__animation(
            data-os-animation="after-in"
            data-os-animation-delay="0s"
            data-os-animation-Frequency="once"
        ) 貸款資訊

        // 文章標題
        .article__title 2022最新！機車貸款10大重點，順利核貸55萬就看這篇！

        // 文章編輯器內容
        .article__content
            img(src="./assets/images/application.jpg")
            h2 文章編輯器 h2 標籤內容放這
            p 誠知此恨人人有，百年都是幾多時，昨夜風開露井桃，珮聲歸到鳳池頭，鑾輿迥出千門柳，將因臥病解朝衣，獨在異鄉為異客，骨肉流離道路中，含情欲說宮中事，待曉堂前拜舅姑，孤帆遠影碧空盡，千里江陵一日還，玉璽不緣歸日角，更隔蓬山一萬重，賈氏窺簾韓掾少，風雲常為護儲胥，曉鏡但愁雲鬢改，殘宵猶得夢依稀，直道相思了無益，巴山夜雨漲秋池，嵩雲秦樹久離居，鳳城寒盡怕春宵，乘興南遊不戒嚴，穆王何事不重來，嫦娥應悔偷靈藥，不問倉生問鬼神，三顧頻煩天下計，樽酒家貧只舊醅，惟將遲暮供多病，人事音書漫寂寥，支離東北風塵際，蕭條異代不同時，諸葛大名垂宇宙，閒愛孤雲靜愛僧，東風不與周郎便，隔江猶唱後庭花，二十四橋明月夜，贏得青樓薄倖名，銀燭秋光冷畫屏，捲上珠簾總不如，歲歲金河復玉關，猶自音書滯一鄉，無情最是臺城柳，西樓望月幾回圓，萬里寒光生積雪，為他人作嫁衣裳，巫峽啼猿數行淚，河上仙翁去不回，日暮鄉關何處是，何如此處學長生，多情只有春庭月，剔開紅燄救飛蛾，日光斜照集靈臺，兩三星火是瓜洲，姑蘇城外寒山寺，五千貂錦喪胡塵，等是有家歸未得，萬頃江田一鷺飛，回日樓臺非甲帳，十二樓中月自明，今夜偏知春氣暖，梨花滿地不開門，賈誼上書憂漢室，故壘蕭蕭蘆荻秋，舊時王謝堂前燕，蜻蜓飛上玉搔頭，終是聖明天子事，春城紫禁曉陰陰，疏松影落空壇靜，寒食東風御柳斜，八尺龍鬚方錦褥，風送宮嬪笑語和。
            span 文章編輯器 span 標籤內容放這

            ul
                li 這是ul清單
                li 這是ul清單
                li 這是ul清單

            ol
                li 這是ol清單
                li 這是ol清單
                li 這是ol清單
