mixin jarallaxImg(src, alt)
    .jarallax
        img.jarallax-img(src=src alt=alt)
        |   Your content here...


mixin jarallaxPicture(media, path, src, alt)
    .jarallax
        picture.jarallax-img
            source(media=media srcset=path)
            img(src=src alt=alt)
        |   Your picture content here...


mixin jarallaxBackground(src)
    .jarallax(style=`background-image: url(${src})`)
        |   Your content here...


mixin jarallaxYouTube(src)
    .jarallax(data-jarallax data-video-src=src)
        |   Your content here...


mixin jarallaxVimeo(src)
    .jarallax(data-jarallax data-video-src=src)
        |   Your content here...