mixin jarallaxPicture(media, path, src, alt, speed)
    - speed = speed || 0
    .jarallax(
        data-style="image"
        data-speed=speed
    )
        picture.jarallax-img
            source(media=media srcset=path)
            img(src=src alt=alt)

