include ../components/organisms/_accordion

.step__container
    .step__container__inner
        .step__title
            p 申辦步驟
            .txt
                h3.txt__title
                    span.en.color-white.d-block.opacity-0.scroll__animation(
                        data-os-animation="slide-in-bottom"
                        data-os-animation-delay="0s"
                        data-os-animation-Frequency="once"
                    ) Step

                    span.tw.color-white.d-block.opacity-0.scroll__animation(
                        data-os-animation="slide-in-bottom"
                        data-os-animation-delay=".4s"
                        data-os-animation-Frequency="once"
                    ) 申辦基本步驟

